body {
    background: #111;
    color: #e5d3a1;
    font-family: Cinzel, serif;
    text-align: center;
}

h1 {
    margin: 20px;
}
/* VERSIONE PRECEDENTE
.map-wrapper {
    position: relative;
    width: 900px;
    height: auto;
    margin: 20px auto;
}

#mapImage {
    width: 100%;
    border: 3px solid #8b6f2b;
    display: block;
}
/*
/* VERSIONE NUOVA */
.map-wrapper {
    position: relative;
    width: 900px;
    height: 500px;
    margin: 20px auto;
    overflow: hidden;
    border: 3px solid #8b6f2b;
}

#mapImage {
    position: absolute;
    width: 3358px;
    height: 1681px;
    left: 0;
    top: 0;
}

/* MARKER ROSSO */
#marker {
    position: absolute;
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 50%;
    border: 2px solid white;

    transform: translate(-50%, -50%);
    z-index: 10;
}

/* CONTROLS */
.controls {
    margin-top: 15px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

/* FEEDBACK */
#feedback {
    margin-top: 10px;
    font-weight: bold;
}

/* TABELLA */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #8b6f2b;
    padding: 8px;
}

.correct {
    background: rgba(0, 200, 0, 0.2);
}

.wrong {
    background: rgba(200, 0, 0, 0.2);
}
