body {
    background: #111;
    color: #e5d3a1;
    font-family: Cinzel, serif;
    text-align: center;
}

h1 {
    margin: 20px;
}

.map-wrapper {
    position: relative;

    width: 900px;
    height: 500px;
    margin: 20px auto;
    overflow: hidden;
    border: 3px solid #8b6f2b;
}

/* NEW*/
#mapImage {
    width: 3358px;
    height: 1681px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
/* MARKER ROSSO */
#marker {
    position: absolute;
    width: 12px;
    height: 12px;
    background: red;
    border: 1px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
}

box-shadow:
    0 0 0 4px rgba(255,255,255,0.5),
    0 0 20px red;

/* CONTROLS */
.controls {
    margin-top: 15px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

/* FEEDBACK */
#feedback {
    margin-top: 10px;
    font-weight: bold;
}

/* TABELLA */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #8b6f2b;
    padding: 8px;
}

.correct {
    background: rgba(0, 200, 0, 0.2);
}

.wrong {
    background: rgba(200, 0, 0, 0.2);
}
